@media screen and (max-width: 950px){
    .hero-container{
        max-width: 100%;
        padding: 0 40px;
    }
    .hero-txt{
        font-size:50px;
        text-align: center;
        margin: -50px 0px 0px 0px;
    }
    .hero-img {
        width: 5000px;
        height: 500px;
        background: url('../Images/Hero.png');
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        background-size: 600px;
        margin: -100px 20px 0px 0px;
    }

    .subscripe-container{
        /* background-color: blue; */
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }
    .subscripe-container .sub-txt{
        font-size: 30px;
        text-align: center;
        width: 100%;
        margin: 20px 0;
    }
    .subscripe-container .sub-input{
        width: 80%;
        /* margin: 0 30px; */
        text-align: center;
        font-size: 20px;
    }
    .subscripe-container .sub-btn {
        margin: 20px 0;
    }


    .footer {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px){
    .hero-container{
      max-width: 100%;
      padding: 0px 0px 0px 20px;
      max-height: 320px;
      flex-direction: column;
    }  
    .hero-txt{
      font-size:25px;
      text-align: center;
      max-width: 250px;
      margin: 30px 0px 0px 0px;
      /* text-align: center; */
    }
    .hero-img {
      width: 392px;
      height: 500px;
      background: url('../Images/Hero.png');
      background-repeat: no-repeat;
      background-position: center;
      outline: none;
      background-size: 300px;
      margin: -100px 20px 0px 0px;
    }
    .footer {
        flex-direction: column;
    }
    .subscripe-container{
        /* background-color: blue; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subscripe-container .sub-txt{
        font-size: 30px;
        text-align: center;
        width: 100%;
        margin: 20px 0;
    }
    .subscripe-container .sub-input{
        width: 80%;
        margin: 0 30px;
        text-align: center;
        font-size: 20px;
    }
    .subscripe-container .sub-btn {
        margin: 20px 0;
    }
    
  }
