* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto';
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.nav {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  background-color: #000;
}

.logo {
  width: 150px;
  height: 80px;
  background: url('../Images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 150px;
  margin: 0px 80px 0px -150px;
}
.side-menu {
  /* width: 900; */
  height: 100px;
  display: flex;
  margin: 0px 230px 0px 80px;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
.side-menu li a {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: #ffffff;
  margin: 15px;
  color: #000;
}
.side-menu li a:hover {
  color: #ff9721;
  border-bottom: #ff9721 2px solid;
}
.letstalk-button {
  width: 100px;
  height: 50px;
  background-color: #FF9721;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -150px 0px 0px;
}
.letstalk-button:hover {
  opacity: 0.7;
}

.hero-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  width: auto;
  height: 530px;
  background-color: #fbf5f5;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 100px;
  margin-bottom: 50px;
}
.hero-contents {
  flex: 1;
}
.hero-txt {
  color: #443c3c;
  font-size: 82px;
  margin-right: 300px;
}
.hero-txt span {
  color: #FF9721;
}
.hero-img {
  width: 500px;
  height: 500px;
  background: url('../Images/Hero.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 800px;
  margin: 0px 80px 0px -300px;
}
.headers {
  font-size: 52px;
  font-family: 'Roboto Black';
  color: #404040;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  /* background-color: #ff9721; */
}
.line {
  width: 200px;
  height: 5px;
  background-color: #ff9721;
  margin: 0px 0px 50px 577px;
}
.services-container {
  /* background-color: #000; */
  height: 950px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  margin: 20px 4px;
  padding: 0px 30px;
  color: #000;
  background-color: #fbf5f5;
  text-align: center;
  flex-basis: 350px;
  border-radius: 5px;
}

.services-container .custom-development .service-icons {
  background: url('../Images/web-development.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.services-container .web-development .service-icons {
  background: url('../Images/web-page.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.services-container .mobile-app-development .service-icons {
  background: url('../Images/mobile-app-dev.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.services-container .graphics-design .service-icons {
  background: url('../Images/branding-logo-design.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.services-container .social-media-marketing .service-icons {
  background: url('../Images/mobile-marketing.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.services-container .search-engine-markeing .service-icons {
  background: url('../Images/seo.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.services-container .digital-advertising .service-icons {
  background: url('../Images/ad.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.services-container .content-marketing .service-icons {
  background: url('../Images/digital-marketing.png');
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.services-container .email-marketing .service-icons {
  background: url('../Images/email-address.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.service-icons {
  width: 70px;
  height: 120px;
}
.services-container .service-title {
  font-size: 30px;
  font-weight: bold;
  color: #FF9721;
  /* margin-top: -20px; */
}
.services-container .service-description {
  color: #635858;
  margin-bottom: 50px;
  line-height: 1.7;
}
.latest-post-container {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.latest-post {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: center;
  align-items: center;
  margin: 10px 4px;
  padding: 20px 30px;
  color: #635858;
  background-color: #fbf5f5;
  text-align: center;
  flex-basis: 350px;
  text-align: start;
}
.latest-post-container .first-post .post-image {
  background: url('../Images/1_q27uoZSHRNRHydkC7jGixg.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 180px;
}
.latest-post-container .second-post .post-image {
  background: url('../Images/best-digital-marketing-blogs-624x429.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 180px;
}
.latest-post-container .third-post .post-image {
  background: url('../Images/What\ Is\ SEO\ And\ Why\ Is\ It\ Important_.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 180px;
}
.post-image {
  margin-bottom: 30px;
}
.post-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 300px;
}
.post-date {
  font-size: 16px;
  width: 300px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.post-description {
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 1.7;
}
.subscripe-container {
  height: 130px;
  background-color: #FF8800;
  color: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;
}
.subscripe-container .sub-txt {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  margin: 0px 150px 0px 80px;
}
.subscripe-container .sub-input {
  width: 400px;
  height: 55px;
  padding: 15px;
  font-size: 16px;
  outline: none;
}
.subscripe-container .sub-btn {
  width: 120px;
  height: 55px;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  background-color: #413b3b;
  color: #ffffff;
}
.footer {
  height: 370px;
  background-color: #404040;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
}
.footers{
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
}
.footer-about{
  flex-basis: 350px;
  text-align: center;
  margin: 0px 50px;
}

.footer-about .logo-img{
  width: 150px;
  height: 150px;
  background: url('../Images/brana_updated_transparent\ \(2\).png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 100px;
  /* background-color: blueviolet; */
  /* margin: 0px 80px 0px -150px; */
}
.footer-about .about-brana{
  /* padding-top: 20px; */
  line-height: 1.7;
}
.footer-about .icons{
  padding-top: 20px;
  display: flex;
  width: 300px;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
}
.footer-about .icons .fb{
  width: 25px;
  height: 25px;
  background: url('../Images/facebook-app.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 25px;
}
.footer-about .icons .tw{
  width: 25px;
  height: 25px;
  background: url('../Images/twitter-app.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 25px;
}
.footer-about .icons .in{
  width: 25px;
  height: 25px;
  background: url('../Images/linkedin-app.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 25px;
}
.footer-about .icons .tk{
  width: 25px;
  height: 25px;
  background: url('../Images/tiktok-app.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 25px;
}
.footer-about .icons .ig{
  width: 25px;
  height: 25px;
  background: url('../Images/ig-instagram.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 25px;
}
.footer-about .icons .yt{
  width: 25px;
  height: 25px;
  background: url('../Images/youtube-square-color.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 25px;
}
.footer-about .icons .tg{
  width: 25px;
  height: 25px;
  background: url('../Images/icons8-telegram-app.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-size: 25px;
}
.footers .footer-title{
  font-weight: normal;
  font-size: 20px;
}
.footer li{
  padding-bottom: 23px;
} 
.footer li a{
  font-size: 13px;
}
.copyright{
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4A4A4A;
  color: white;
  font-size: 11px;
}